body{
   background-color: #FFF4D8; 
}

div{
    position: absolute;
    left: 10%;
    top: 45%;
    width: 1000px;
    background-color: white; 
}

h3{
    text-align: center;
}

center{
    position: relative;
    left: 40%;
}

button{
    left: 40%;
}