div{
    position: absolute;
    left: 28%;
    top: 45%;
    height: 337px;
    width: 529px;
    text-align: center;
    background-color: white; 
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    font-size: 18px;
}

body{
   background-color: #FFF4D8; 
}

.container {
    position: relative;
    top: 15%;
    font-size: 20px;
}
